.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  .content {
    flex: 1;
    display: flex;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
