.chip {
  font-size: .875rem;
  border-radius: 4px;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  background-color: #E6ECF1;
  color: #5C6975;
  margin: 4px;
  padding: .22rem;

  .title {
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
  }
}
