.chip {
  font-size: .875rem;
  border-radius: 4px;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  background-color: #E6ECF1;
  color: #5C6975;
  margin: 4px;
  padding: .22rem;

  .content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;

    a {
      color: #5C6975;
      text-decoration: none;
    }
  }
}
